<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computo2</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <img class="portapic" src="/images/portafolios.png" alt="profile picture">
        
        <div class="userDetails">
            <h1>Computo2</h1>
            <h1>Jose Miguel Jimenez Rodriguez</h1>
            <span>Protafolio de Evidencia</span>

        </div>
        <div class="home">
            <h2><a href="/">Home</h2></a>
            <img src="/images/home.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo1">
            <h2><a href="/Computo1.hbs">Computo1</a></h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo2">
            <h2><a href="/Computo2.hbs">Computo2</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo3">
            <h2><a href="/Computo3.hbs">Computo3</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        </nav>

        
    </div>

    <div class="container">
        <nav>

            <div class="Resumen">

            </div>
            <div class="Conclusion">
                <h1><a href="/Conclusion.hbs"><center>Conclusion</h1></center></a>
               <center><img src="/images/libro.png" alt="resume picture" height="30px" width="30px"></center>
            </div>

        </nav>


    </div>

    

<script  src = "https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>




 <!--       
<div class="Conclusion" >
    <nav>
            <div class="Resume">
                <h2>Conclusion</h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
</div>
    </nav>
</div>-->
        <div class="semana8">
    <section>
        <center><h2 class="pane-tittle">Semana8</h2></center>
        <center><h2>Introduccion al desarrollo con PHP</h2></center>
        <p>PHP (<b>P</b>re <b>H</b>yperText <b>P</b>rocesor) es un lenguaje de programacion de codigo abierto es un lenguaje
        muy utíl sobre todo en el entorno de desarrollo con HTML .</p>

        <p>El usuario escribe una URL una ruta o dirección para poderlocalizar una página web, imagen, servidor etc. en su 
            navegador y éste envía un petición al servidor web. Un servidor web es la maquina o computador donde se almacena 
            una página web. El servidor  lee  la  página  PHP  (la  interpreta).  Envía  al  navegador  del  usuario  un 
            documento compilado en formato HTML
        </p>
        <img src="/images/semana8.jpeg">
        
    </section>
    </div>

    <div class="semana9">
    <section>
        <center><h2 class="pane-tittle">Semana9</h2></center>
        <center><h2>Introduccion a laravel</h2></center>
        <p>Podemos decir que laravel es un framework que proporciona una estructura inicial para la creacion de app.</p>

        <p>proporcionar una experiencia de desarrollador increíble, al tiempo que proporciona funciones poderosas como la 
            inyección de dependencias exhaustiva, una capa de abstracción de base de datos expresiva, colas y trabajos 
            programados, pruebas de integración y unidad, y más.</p>

            <h1>caracteristicas de laravel</h1>
            <p>Un sistema de rutas, mediante las cuales es fácil crear y mantener todo tipo de URLs amistosas a usuarios y 
                buscadores, rutas de API, etc.</p>
            <p>Un sistema de abstracción de base de datos, con un ORM potente pero sencillo de manejar, mediante el que 
                podemos tratar los datos de la base de datos como si fueran simples objetos.</p>
            <p>Un sistema para creación de colas de trabajo, de modo que es posible enviar tareas para ejecución en background
                 y aumentar el rendimiento de las aplicaciones.</p>
            <p>Varias configuraciones para envío de email, con proveedores diversos.</p>
            
            <h2>Ejemplo de la asignación hecha durante la semana</h2>

        <img src="/images/semana9.jpeg">
        
    </section>
    </div>

    <div class="semana10">
    <section>
        <center><h2 class="pane-tittle">Semana10</h2></center>
        <center><h2>CRUD con laravel </h2></center>
        <p>Durante esta semana se realizao la actividad de la creacion de un CRUD de laravel.</p>
        <p>Lo primero seria crear la talbas y migracinoes</p>
        <p>Luego seria agregar rutas y controladores </p>
        <p>Controladores de modelo, estos se deben editar segun el proyecto y lo que deseemos que hagan.</p>
        <p>Luego se proseguiria con la creacion de vistas y su posterior edicion.</p>
        <h2>Captura de la asingacino correspondiente a la semana</h2>
        <img src="/images/semana10.jpeg">
    </section>
    </div>

    <div class="semana11">
    <section>
        <center><h2 class="pane-tittle">Semana11</h2></center>
        <center><h2>Semana Santa</h2></center>
        <h2>Esta semana hubi vacaciones YEEIIH!!!.</h2>
        <img src="/images/semana11.jpeg">
        
    </section>
    </div>

    <div class="semana12">
    <section>
        <center><h2 class="pane-tittle">Semana12</h2></center>
        <center><h2>Rutas y controladores</h2></center>
        <p>Las rutas son todas aquellas paginas o modulos que componen el proyecto los cuales declaramos dentro de este.</p>

        <p>Luego hacemos la declaracion de controladores los cuales sonarchivos PHP con  una  clase  que  extiende  de App\Http\Controllers\.
        </p>
        <img src="/images/semana12.jpg">
        
    </section>
    </div>

    <div class="semana13">
    <section>
        <center><h2 class="pane-tittle">Semana13</h2></center>
        <center><h2>Validacion de datos</h2></center>
        <p>Durante esta semana se continuo con el proyecto anterior agregando mas rutas y parametros necesarios al proyecto
            .</p>
            <img src="/images/web.jpg">
            <img src="/images/php.jpg">
        <img src="/images/semana13.jpeg">
        
    </section>
    </div>

    <div class="semana14">
    <section>
        <center><h2 class="pane-tittle">Semana14</h2></center>
        <center><h2>Blade|Laravel/UI</h2></center>
        <h2>Blade</h2>
        <p>Los componentes de Blade son un subconjunto parte de la plantilla blade que nos permite la creacion de nuevos PHP y HTML 
            encapsulados, reutilizados y personalizados.</p>
        <h2>Componentes basados en clases</h2>
        <p>El componente basado en clases se compone de un archivo php que en capsula la lógica del componente y un archivo de
            plantilla.</p>
        <h2>Laravel UI</h2>
        <p>Laravel UI es un paquete oficial que contiene las partes de la interfaz de usuario estas extraidas de un proyecto laravel</p>

        <img src="/images/semana14.jpeg">
        
    </section>
    </div>

    <div class="semana15">
    <section>
        <center><h2 class="pane-tittle">Semana15</h2></center>
        <center><h2>Evaluacion Parcial II</h2></center>
        <p>Durante esta semana se realizo la evaluacion parcialII, para la cual creamos una aplicacion con laravel que 
            consistia en un crud con una interfaz personalizada para la app (era un pokedex estaba shida).
        </p>
        <img src="/images/semana15.jpeg">
        <img src="/images/pokedex.png">
        <h2>Una imagen de como lucia la app</h2>
    </section>
    </div>

</body>
</html>