<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computo3</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <img class="portapic" src="/images/portafolios.png" alt="profile picture">
        
        <div class="userDetails">
            <h1>Computo3</h1>
            <h1>Jose Miguel Jimenez Rodriguez</h1>
            <span>Protafolio de Evidencia</span>

        </div>
        <div class="home">
            <h2><a href="/">Home</h2></a>
            <img src="/images/home.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo1">
            <h2><a href="/Computo1.hbs">Computo1</a></h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo2">
            <h2><a href="/Computo2.hbs">Computo2</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo3">
            <h2><a href="/Computo3.hbs">Computo3</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        </nav>

        
    </div>

    <div class="container">
        <nav>

            <div class="Resumen">

            </div>
            <div class="Conclusion">
                <h1><a href="/Conclusion.hbs"><center>Conclusion</h1></center></a>
               <center><img src="/images/libro.png" alt="resume picture" height="30px" width="30px"></center>
            </div>

        </nav>


    </div>

    

<script  src = "https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>




 <!--       
<div class="Conclusion" >
    <nav>
            <div class="Resume">
                <h2>Conclusion</h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
</div>
    </nav>
</div>-->
        <div class="semana1">
    <section>
        <center><h2 class="pane-tittle">Semana16</h2></center>
        <center><h2>Introduccion a nodejs</h2></center>
        <p>Nodejs se basa en un marco de Javascript se utiliza para desarrollar aplicaciones basadas en servidores. Este
            entorno es uno multiplataforma en tiempo de ejecucion, para la capa del servidor basado en el lenguaje de programación
            Javascript, este es asincrono con E/S con una arquitectura orientada a eventos.</p>

        <p>De hecho en este momento estoy usando nodejs para este sitio web :0
        </p>
        <img src="/images/semana16.jpeg">
        
    </section>
    </div>

    <div class="semana17">
    <section>
        <center><h2 class="pane-tittle">Semana17</h2></center>
        <center><h2>Asincronizmo con nodejs</h2></center>
        <p>Una de las ventajas de Java script es la programacion asincrona, a su vez que es una enorme causa de errores y problemas y confusiones
            desde novatos hasta experimentados.</p>

        <p>¿Que es asincrono?.</p>
        <p>Esto quiere decir que al ejecutar código en javascript este hilo continuara pese a encontrarse en situaciones
            en las que no obtenga un resultado inmediatamente.
        </p>
            <h2>Ejemplo de la asignación hecha durante la semana</h2>
        <img src="/images/semana17.jpg">
        
    </section>
    </div>

    <div class="semana18">
    <section>
        <center><h2 class="pane-tittle">Semana18</h2></center>
        <center><h2>Modulos en Nodejs</h2></center>
        <p>Los nodulos en Nodejs son una especie de capsulas que podemos separar en una especie de unidad logica.</p>

        <p>Dentro de un Modulo podemos mantener un codigo el cual ya sea usaramos o no ahi esperando para ser invocado, 
            esto nos puede servir de manera para ahorrar tiempo en un proyecto que escala mucho que podemos reutilizar
            estos modulos.</p>
        <img src="/images/semana18.jpeg">
        <img src="/images/modulos(calculadora).jpg">
    </section>
    </div>

    <div class="semana19">
    <section>
        <center><h2 class="pane-tittle">Semana19</h2></center>
        <center><h2>NOde.js y MongoDB</h2></center>
        <p>Muchas aplicaciones hacen uso de un tipo de almacenamiento de datos para su backend. En estos casos Nodejs 
            puede funcionar con bases de datos relacionales y no relacionales.
        </p>

        <p>Para poder fucinoar a Nodejs con MongoDB se hace uso de un modulo llamado Mongose.
        </p>
        <p>Para la creacion de conexiones de bases de datos con Nodejs se hacen los siguientes pasos o acciones:</p>
        <P>administrar conexioens</P>
        <P>Crear y cerrar conecxiones a la DB</P>
        <P>Ejecucion de las consultas para la recuperacion de informacion o datos</P>
        <P>Y finalmente la manipulacion de los datos</P>
        <img src="/images/semana19.jpg">
        
    </section>
    </div>

    <div class="semana20">
    <section>
        <center><h2 class="pane-tittle">Semana20</h2></center>
        <center><h2>SOCKET.IO</h2></center>
        <p>Los web sockets son una tecnología que permite una comunicación bidireccional entre cliente y servidor 
            sobre un único socke tTCP. Encierta manera es un buen sustituto de AJAX como tecnología para obtener datos 
            del servidor,ya que no tenemos que pedirlos, el servidor nos los enviará cuando haya nuevos..</p>
        <p>Pues bueno entonces ¿que es SOCKET.IO?</p>
        <p>Socket.IO es una biblioteca que permite la comunicación en tiempo real ,bidireccional y basada en eventos 
            entre el navegador y el servidor.</p>

        <p>.
        </p>
        <h3>En esta semana se realizo este portafolio de evidencia que es este sitio web</h3>
        
    </section>
    </div>

    

</body>
</html>