<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Computo1</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <img class="portapic" src="/images/portafolios.png" alt="profile picture">
        
        <div class="userDetails">
            <h1>Computo1</h1>
            <h1>Jose Miguel Jimenez Rodriguez</h1>
            <span>Protafolio de Evidencia</span>

        </div>
        <div class="home">
            <h2><a href="/">Home</h2></a>
            <img src="/images/home.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo1">
            <h2><a href="/Computo1.hbs">Computo1</a></h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo2">
            <h2><a href="/Computo2.hbs">Computo2</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo3">
            <h2><a href="/Computo3.hbs">Computo3</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        </nav>

        
    </div>

    <div class="container">
        <nav>

            <div class="Resumen">

            </div>
            <div class="Conclusion">
                <h1><a href="/Conclusion.hbs"><center>Conclusion</h1></center></a>
               <center><img src="/images/libro.png" alt="resume picture" height="30px" width="30px"></center>
            </div>

        </nav>


    </div>

    

<script  src = "https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>




 <!--       
<div class="Conclusion" >
    <nav>
            <div class="Resume">
                <h2>Conclusion</h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
</div>
    </nav>
</div>-->
        <div class="semana1">
    <section>
        <center><h2 class="pane-tittle">Semana1</h2></center>
        <center><h2>Vue js</h2></center>
        <p>Vue js un framework de JavaScript de código abierto para la construcción de interfaces de usuario y aplicaciones de una sola página. 
            Este tipo de frame work como se dice es muy usado para la creacion de interfaces de usuario debido a que posee
            muchos elementos que ayudan a que esta sea muy intuitiva y facil de comprender.</p>

        <p>Durante esta semana se nos dio información basica teorica sobre el funcionamiento de Vuejs los tipos de projectos
            en los que se podian usar de manera mas conveniente, manera de realizar su posterior instalacion.
        </p>
        <img src="/images/semana1.jpg">
        
    </section>
    </div>

    <div class="semana2">
    <section>
        <center><h2 class="pane-tittle">Semana2</h2></center>
        <center><h2>Bootstrap</h2></center>
        <p>Durante esta semana se nos impartio conocimiento sobre lo que es la herramienta llamada Bootstrap. ¿Entonces
            que es esta herramienta?.</p>

        <p>Bootstrap es una herramienta que ayuda a la creacion de interfaces de usuarios en aplicaicones web.
            Es un marco de desarrollo que resulta de mucha utilidad ya que realmente consta de muchas herramientan que a
            ayudan a crear unas interfaces muy llamativas, intuitivas y agradables para clientes/usuarios. Este proporciona
            elementos para dar estilo a botones, formularios y demas tipos de elementos de los cuales se conforma una interfaz
            de usuario.</p>
            <h2>Ejemplo de la asignación hecha durante la semana</h2>
        <img src="/images/semana2.jpg" height="900px" width="1300px">
        
    </section>
    </div>

    <div class="semana3">
    <section>
        <center><h2 class="pane-tittle">Semana3</h2></center>
        <center><h2>Rending declarativo|Directivas</h2></center>
        <p>Podemos definir el rendering como una opción para la interaccion con el DOM con Vuejs, para ello se tiene:.</p>
        <p>Vista: HTML</p>
        <p>Estado: DatosJS</p>
        <p>Usuario: Interactua e introduce cambios en la vista</p>

        <p>En este caso es la vista la que se encarga de informar sobre cambios en el estado esto mediante envio de nuevas
            vistas.</p>

        <p>Directivas: estas se definen como atributos con un tipo de uso especial para lo que son las etiquetas HTML y 
            estan prefijados por v-, como por ejemplo, v-for,v-bindov-on,entremuchasotras. Todas estan directivas nos permiten realizar
            dinamicas robustas que no se podrian en HTML por si solo, las etiquetas son un tipo de funcion que se permite en Vue conformes
            por sus diferentes partes que son; Directiva, Argumento, Modificador y Valor.</p>
        <img src="/images/semana2.jpg">
        <img src="/images/semana3.jpg">
    </section>
    </div>

    <div class="semana4">
    <section>
        <center><h2 class="pane-tittle">Semana4</h2></center>
        <center><h2>Eventos</h2></center>
        <p>Podemos decir que un evento es una accion del usuario a la cual podemso responder con algun proceso.</p>

        <p>Estos eventos podemos capturarlos mediante una componentes llamados manejadores de eventos.
        </p>
        <img src="/images/semana4.jpeg">
        
    </section>
    </div>

    <div class="semana5">
    <section>
        <center><h2 class="pane-tittle">Semana5</h2></center>
        <center><h2>Componentes Vuejs</h2></center>
        <p>Los componentes los podriamos definir como aquellos peuqeñas funcinoes dentro de la UI que se crea en VueJS 
            esto puede traer ventaja como la reutilizacion de estas piezas en las que se divide el codigo para el escalado
            del proyecto.</p>

        <p>.
        </p>
        <img src="/images/semana5.jpeg" height="300px" width="1100px">
        
    </section>
    </div>

    <div class="semana6">
    <section>
        <center><h2 class="pane-tittle">Semana6</h2></center>
        <center><h2>Vuejs</h2></center>
        <p>Si bien ya hablamos sobre los componentes y de como estos ayudan a la creacion de UI es la verdad es que estos
            no serviran de nada si no se sabe como pasarles datos. Para lograr eso tenemos a estos compoenentes llamados 
            <b>props</b>.</p>
        <img src="/images/semana6.jpg" height="300px" width="1100px">
        
    </section>
    </div>

    <div class="semana7">
    <section>
        <center><h2 class="pane-tittle">Semana7</h2></center>
        <center><h2>Vuejs</h2></center>
        <p>Durante esta semana se llevo a cabo la evaluacion parcial por lo que no se imprtio contenido ni se realiazo
            una actividad</p>
        <img src="/images/semana7.jpeg" height="300px" width="1100px">
        
    </section>
    </div>

</body>
</html>