<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conclusion</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <img class="portapic" src="/images/portafolios.png" alt="profile picture">
        
        <div class="userDetails">
            <h1>Comclusion</h1>
            <h1>Jose Miguel Jimenez Rodriguez</h1>
            <span>Protafolio de Evidencia</span>

        </div>
        <div class="home">
            <h2><a href="/">Home</h2></a>
            <img src="/images/home.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo1">
            <h2><a href="/Computo1.hbs">Computo1</a></h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo2">
            <h2><a href="/Computo2.hbs">Computo2</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo3">
            <h2><a href="/Computo3.hbs">Computo3</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        </nav>

        
    </div>

    <div class="container">
        <nav>

            <div class="Resumen">

            </div>
            <div class="Conclusion">
                <h1><a href="/Conclusion.hbs"><center>Conclusion</h1></center></a>
               <center><img src="/images/libro.png" alt="resume picture" height="30px" width="30px"></center>
            </div>

        </nav>


    </div>

    

<script  src = "https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>




 <!--       
<div class="Conclusion" >
    <nav>
            <div class="Resume">
                <h2>Conclusion</h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
</div>
    </nav>
</div>-->
        <div class="semana1">
    <section>
        <center><h2 class="pane-tittle">Semana16</h2></center>
        <center><h2>Conclusion</h2></center>
        <h3>Conclusiones de lo aprendido en el ciclo I del año 2021.</h3>

        <p>Para este ciclo la concentracion de la mayor parte de las herramientas de las que se aprendio fue enfocado a la
            creacion de sition web en su mayoria, especificando sobre todo en parte a la creacion de UI como por ejemplo el 
            uso de NODE que es un framework que contiene muchos elementos y la base para la creaciond estas.
        </p>
        <p>Otro tipo de contracion en el ciclo fue el llamado y almacenamiento de datos en nuestras app, llamando datos de 
            bases de datos tal como el ejemplo realizado con Node.js y MongoDB a su vez guardando datos de registros y agregando
            las funciones basicas de guardado, eliminacion, edicion y demas (CRUD).
        </p>

        <p>Con la conclusion del ciclo e de decit que siento mayor confianza en lo que a la creaciond de sitios web refiere y las
            funciones mas complejas como llamamiento y almacenado de datos de este confiere, a su vez que conoci herramientas que 
            brindan mucha facilidad para poder lograr estas funciones.
        </p>
        <img src="/images/majora.gif"><img src="/images/Greninja.gif" height="400px" width="400px">
        
    </section>
    </div>

</body>
</html>