<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@5.5.1/dist/ionicons.js" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <div class="container">
        <nav>
            <img class="portapic" src="/images/portafolios.png" alt="profile picture">
        
        <div class="userDetails">
            <h1>ProgramacionV</h1>
            <h1>Jose Miguel Jimenez Rodriguez</h1>
            <span>Protafolio de Evidencia</span>

        </div>
        <div class="home">
            <h2><a href="/">Home</h2></a>
            <img src="/images/home.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo1">
            <h2><a href="/Computo1.hbs">Computo1</a></h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo2">
            <h2><a href="/Computo2.hbs">Computo2</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        <div class="Computo3">
            <h2><a href="/Computo3.hbs">Computo3</h2></a>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
        </div>
        </nav>

        
    </div>

    <div class="container">
        <nav>

            <div class="Resumen">

            </div>
            <div class="Conclusion">
                <h1><a href="/Conclusion.hbs"><center>Conclusion</h1></center></a>
               <center><img src="/images/libro.png" alt="resume picture" height="30px" width="30px"></center>
            </div>

        </nav>


    </div>

    

<script  src = "https://unpkg.com/ionicons@5.5.1/dist/ionicons.js"></script>




 <!--       
<div class="Conclusion" >
    <nav>
            <div class="Resume">
                <h2>Conclusion</h2>
            <img src="/images/libro.png" alt="home picture" height="30px" width="30px">
</div>
    </nav>
</div>-->
        
    
</body>
</html>